@model Reserva.Domain.Entities.Usuario

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Excluir Usuário</h2>

                    </div>
                </div>
            </div>
            <div class="panel-body">
                <h3>Você tem certeza que deseja completar esta ação?</h3>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Codigo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Login)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Login)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Senha)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Senha)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cargo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cargo)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Sim, excluir" class="btn btn-danger" />
                        @Html.ActionLink("Voltar à lista", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }

            </div>
        </div>
    </div>
</div>